/*******nan******/
a{
 text-decoration: none;
	font-family: arial,roboto;
	text-orientation: center;
}


#nav{
	
    text-align: center;
	text-decoration: none;
	background-color: #bedbbb;
	list-style-type: none;
	border-radius: 10px;


}
#nav li {
	display: inline-block;
	padding: 20px 10px 20px 0;

}

#nav li a {
	color:#cc0e74;
}
 
 #nav a:hover {  color: #db6400;

 font-weight: bold;

}



/************* content ***********/





h2{
	margin-top: 20px;
	color:#f5a25d;
	font-size: 14px;
   


}


#content li{

list-style-type: none;
}

#content h1{
	font-size: 40px;
	font-weight: bold;
	font-family: arial,roboto,sans serif;
	padding: 0 0px;
	display: inline-block;
	color:#D1E4EF; 
}

#content h2 {

	margin-top: 50px;
	font-size: 40px;
	border-bottom:#f5a25d solid 3px;
	width: 700px;
	

}

#content p {
	padding-top: 30px;
	background-color: #17405E;
	color: #ffff;
	height: 60px;
	text-align: center;

}
#content a{ color:#ffff; 
font-weight: bold;
}

#secondo h1{
	text-align: center;
	color:#40CE79;

}

#containar h1{

background-color: #1A4087;
color:#ffff;
height: 200px;
width: 300px;
display: inline-block;
text-align: center;
padding: 10px 48px;
margin left: 200px;
}

